* {
    margin: 0;
    padding: 0;
}

:root {
    --background: white;
    --text-color: black;
    --text-color-secondary: black;
    --line: black;
    --shadow: 2px 1px 10px 2px rgba(96, 96, 96, 0.382);
}

@media (prefers-color-scheme: dark){
    :root {
        --background: rgb(32, 35, 45);
        --text-color: rgb(255, 255, 255);
        --text-color-secondary: rgb(181, 181, 181);
        --line: rgb(255, 255, 255);
        --shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.382);
    }
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--line);
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.login {
    color: var(--text-color);
    background-color: transparent;
}

.register {
    color: var(--background);
    background-color: var(--line);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header p {
    color: var(--text-color-secondary);
    font-size: 0.8rem;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
}

.logo img {
    width: 2rem;
    transition: all 0.3s ease-in-out;
}

.logo img:hover {
    width: 2.5rem;
}

.header {
    text-align: center;
}

.header > h1 {
    font-size: 5rem;
}

.modal-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.139);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}

.modal-bg > .card {
  background-color: var(--background);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  border: var(--border);
  border: var(--line);
}

.animation-open-modal {
  animation: open-modal 0.5s ease-in-out;
}

@keyframes open-modal {
  0% {opacity: 0;transform: translateY(-2rem)}
  100% {opacity: 100%;transform: translateY(0rem)}
}

.animation-close-modal {
  animation: close-modal 0.5s ease-in-out;
}

@keyframes close-modal {
  0% {opacity: 100%;transform: translateY(0);}
  100% {opacity: 0%;transform: translateY(-2rem);}
}