* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #f8fbfd;
    --text-color: black;
    --text-color-secondary: black;
    --line: rgb(224, 224, 224);
    --line-secondary: rgba(122, 130, 134, 0.986);
    --shadow: 2px 1px 10px 2px rgba(96, 96, 96, 0.382);
    --palette-1: rgb(253, 237, 243);
    --palette-2: rgb(223, 247, 255);
    --palette-3: white;
    --palette-4: rgb(244, 254, 255);
}

.palette-1 {
    background-color: var(--palette-1);
}

.palette-2 {
    background-color: var(--palette-2);
}

.palette-3 {
    background-color: var(--palette-3);
}

.palette-4 {
    background-color: var(--palette-4);
}

/* @media (prefers-color-scheme: dark){
    :root {
        --background: rgb(32, 35, 45);
        --text-color: rgb(255, 255, 255);
        --text-color-secondary: rgb(181, 181, 181);
        --line: rgb(255, 255, 255);
        --line-secondary: rgba(116, 116, 116, 0.259);
        --shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.382);
    }
} */

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.line-button {
    padding: 1rem;
}

.line-button:hover {
    border-top: 1px solid var(--line);
    border-bottom: 1px solid var(--line);
}

.login {
    color: var(--text-color);
    background-color: transparent;
}

.register {
    color: var(--background);
    background-color: var(--line);
}

/* Line */

.line-all {
    border: 1px solid var(--line);
}

.line-y {
    border-bottom: 1px solid var(--line);
    position: relative;
}

.line-y::before {
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--line);
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.line-y::after {
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--line);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.line-x {
    border-left: 1px dashed var(--line);
    position: relative;
}

.line-x::before {
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--line-secondary);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.line-x::after {
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--line-secondary);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}

.line-x-single {
    border-left: 1px dashed var(--line);
    position: relative;
}

.line-x-single::before {
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--line-secondary);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

/* Line */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header p {
    color: var(--text-color-secondary);
    font-size: 0.8rem;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
}

.logo img {
    width: 2rem;
    transition: all 0.3s ease-in-out;
}

.logo img:hover {
    width: 2.5rem;
}

.header {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid var(--line);
}

.header > h1 {
    font-size: 5rem;
}

.modal-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.139);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}

.modal-bg > .card {
    border: 1px solid var(--line-secondary);
  background-color: var(--background);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.animation-open-modal {
  animation: open-modal 0.5s ease-in-out;
}

@keyframes open-modal {
  0% {opacity: 0;transform: translateY(-2rem)}
  100% {opacity: 100%;transform: translateY(0rem)}
}

.animation-close-modal {
  animation: close-modal 0.5s ease-in-out;
}

@keyframes close-modal {
  0% {opacity: 100%;transform: translateY(0);}
  100% {opacity: 0%;transform: translateY(-2rem);}
}

/* Code */

.code-editor {
    overflow: hidden;
    border: 1px solid var(--line);
    background: #f3f2f2;
}